body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  .form-container {
    background-color: #333;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: absolute;
    animation: shadow-pulse 1.5s infinite alternate; /* Apply animation */
  }
  
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #1a1a1a;
    color: #fff;
    font-size: 16px;
    outline: none;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ff7a59;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0024c5;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }
  
  .register-link a {
    color: #ff7a59;
    text-decoration: none;
  }


  @keyframes shadow-pulse {
    0% {
      box-shadow: 0px 0px 40px rgba(250, 1, 1, 0.2); /* Initial box shadow */
    }
    10% {
      box-shadow: 0px 0px 80px rgba(128, 207, 0, 0.2); /* Initial box shadow */
    }
    20% {
      box-shadow: 0px 0px 40px rgba(15, 52, 173, 0.2); /* Initial box shadow */
    }
    30% {
      box-shadow: 0px 0px 80px rgba(113, 199, 0, 0.2); /* Initial box shadow */
    }
    40% {
      box-shadow: 0px 0px 40px rgba(184, 235, 0, 0.2); /* Initial box shadow */
    }
    50% {
      box-shadow: 0px 0px 80px rgba(173, 0, 0, 0.2); /* Initial box shadow */
    }
    60% {
      box-shadow: 0px 0px 40px rgba(198, 241, 40, 0.2); /* Initial box shadow */
    }
    100% {
      box-shadow: 0px 0px 80px rgba(136, 0, 118, 0.4); /* Final box shadow */
    }
  }


  /* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .form-container {
    padding: 20px; /* Reduce padding for smaller screens */
  }

  input[type="text"],
  input[type="password"] {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

  /* Media query for smaller screens */
  @media only screen and (max-width: 400px) {
    .form-container {
      padding: 10px; /* Reduce padding for smaller screens */
      max-width: 350px;
    }
  
    input[type="text"],
    input[type="password"] {
      font-size: 10px; /* Adjust font size for smaller screens */
    }
  }